@tailwind base;
@tailwind components;
@tailwind utilities;

.graph-path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: draw-line 2.5s ease-out forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scroll-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(200%); }
}

.animate-scroll-down {
  animation: scroll-down 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

